<h1 class="text-center">Nueva Visita</h1>

<form (submit)="onSubmit()" style="margin-bottom: 5%;">
  <div class="mb-3">
    <label for="id" class="form-label">id</label>
    <input type="text" class="form-control" id="id" [(ngModel)]="visita.id" name="id" required>
  </div>
  <div class="mb-3">
    <label for="fecha" class="form-label">fecha</label>
    <input type="text" class="form-control" id="fecha" [(ngModel)]="visita.fecha" name="fecha" required>
  </div>
  <div class="mb-3">
    <label for="comentario" class="form-label">comentario</label>
    <input type="text" class="form-control" id="comentario" [(ngModel)]="visita.comentario" name="comentario" required>
  </div>
  <div class="mb-3">
    <label for="diagnostico_id" class="form-label">diagnostico_id</label>
    <input type="text" class="form-control" id="diagnostico_id" [(ngModel)]="visita.diagnostico" name="diagnostico_id" required>
  </div>
  <div class="mb-3">
    <label for="paciente_id" class="form-label">paciente_id</label>
    <input type="text" class="form-control" id="paciente_id" [(ngModel)]="visita.paciente" name="paciente_id" required>
  </div><br>
  <button type="submit" class="btn btn-outline-secondary">Enviar</button>
</form>