<div class="container-fluid full-height-container d-flex flex-column justify-content-center align-items-center">
    <h1 class="titulo mb-4 text-center">Vista de las visitas</h1>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Comentario</th>
                    <th scope="col">Diagnostico</th>
                    <th scope="col">Paciente</th>
                    <th scope="col">Pruebas</th>
                    <th scope="col">Medicacion</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let visita of visitasData">
                    <td>{{visita.id}}</td>
                    <td>{{visita.fecha}}</td>
                    <td>{{visita.comentario}}</td>
                    <td>{{visita.diagnostico_id}}</td>
                    <td>{{visita.paciente_id}}</td>
                    <td>Extracción</td>
                    <td>Paracetamol</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary btn-sm mx-1">Ver detalles</a>
                            <a class="btn btn-warning btn-sm mx-1" routerLink="/visitas/editar/{{visita.id}}">Modificar</a>
                            <a class="btn btn-danger btn-sm mx-1" (click)="eliminarVisita(visita.id)" >Eliminar</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <button class="btn btn-primary" (click)="goToFirstPage()"><<</button>&nbsp;
            <button class="btn btn-primary" (click)="prevPage()"><</button>&nbsp;
          
            <select style="text-align: center;" [(ngModel)]="currentPage" class="form-control" (change)="currentPage !== null ? goToPage(currentPage) : null">
              <option *ngFor="let page of pages" [value]="page" [selected]="page === currentPage">{{ page + 1 }}</option>
            </select>&nbsp;
          
            <button class="btn btn-primary" (click)="nextPage()">></button>&nbsp;
            <button class="btn btn-primary" (click)="goToLastPage()">>></button>
          </div>
    </div>
</div>