<div class="container mt-5 div2">
  <!-- Información del paciente -->
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../../assets/imgProgenitores/progenitor{{progenitor.id}}.png" class="img-fluid rounded-start"
          alt="Foto del Progenitor" style="width:70%;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{progenitor.papellido}} {{progenitor.sapellido}}, {{progenitor.nombre}}</h5><br>
          <p class="card-text"><strong>DNI:</strong> {{progenitor.dni}}</p>
          <!-- Agrega más detalles según tus necesidades -->
          <p class="card-text"><strong>Edad:</strong> 30 años / (15/01/2084)</p>
          <p class="card-text"><strong>Seguro médico:</strong> {{progenitor.paciente.seguroMedico.companyia}}</p>
          <!-- ... (otros detalles) ... -->
        </div>
      </div>
    </div>
  </div>

  <!-- Información del progenitor -->
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../../assets/imgProgenitores/progenitor{{progenitor.id+1}}.png" class="img-fluid" alt="Foto del Paciente"
          style="width:70%;">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title">Cónyuge e hijo/s</h5><br>
          <p class="card-text"><strong>Nombre del cónyuge:</strong> PROGENITOR PRUEBA </p>
          <p class="card-text"><strong>Nombre del hijo:</strong> {{progenitor.paciente.papellido}} {{progenitor.paciente.sapellido}}, {{progenitor.paciente.nombre}}</p>

        </div>
      </div>
      <div class="col-md-4" style="display: flex; align-items: end;">
        <img src="../../../../assets/imgPacientes/persona12.png" class="img-fluid" alt="Foto del Paciente"
          style="width:70%;">
      </div>
    </div>
  </div><br>
</div>