h1 {
    margin-top: 1%;
    margin-left: 14%;
}

form {
    margin-top: 1%;
    margin-left: 19%;
    width: 75%;
}

/* Agrega estilos para el estado :focus de la barra de búsqueda */
input:focus {
    border-color: rgb(155, 155, 155);
    box-shadow: 0 0 0 0.25rem rgba(95, 95, 95, 0.1);
    /* Agrega un efecto de sombra al enfocar */
  }

  .btn:hover {
    background-color: #b9b9b9;
    color: black;
    /*channge the pointer*/
    cursor: pointer;
  }