<div class="parent">
  <nav class="div1">
      <ul>
          <img src="../../../../../assets/logo1.png" alt="logo" class="logo" width="200px" style="margin-left: 9%;">
          <!-- Elementos del menú -->
          <li><a routerLink="/pacientes">Pacientes</a></li>
          <li><a routerLink="/diagnosticos">Diagnosticos</a></li>
          <li><a routerLink="/medicaciones">Medicaciones</a></li>
          <li><a routerLink="/medidas">Medidas</a></li>
          <li><a routerLink="/progenitores">Progenitores</a></li>
          <li><a routerLink="/visitas">Visitas</a></li>
          <li><a routerLink="/calendario">Calendario</a></li>
          <li><a routerLink="/pruebas">Pruebas</a></li>
      </ul>
  </nav>