<nav>
  <ul>
    <li><a routerLink="/pacientes">Pacientes</a></li>
    <li><a routerLink="/diagnosticos">Diagnosticos</a></li>
    <li><a routerLink="/medicaciones">Medicaciones</a></li>
    <li><a routerLink="/medidas">Medidas</a></li>
    <li><a routerLink="/progenitores">Progenitores</a></li>
    <li><a routerLink="/visitas">Visitas</a></li>
    <li><a routerLink="/calendario">Calendario</a></li>
    <li><a routerLink="/pruebas">Pruebas</a></li>
  </ul>
  <!-- Elementos de la derecha -->
  <ul>
    <li class="user-info"><span>PabloMolero</span></li>
    <li><a>Cerrar sesión</a></li>
  </ul>
</nav>
