<div class="container-fluid full-height-container d-flex flex-column justify-content-center align-items-center">
    <h1 class="titulo mb-4 text-center">Vista de los pacientes</h1>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Progenitores</th>
                    <th scope="col">S. Médico</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let paciente of pacientesData">
                    <td><img src="https://mdbootstrap.com/img/new/avatars/8.jpg" style="width: 70px; border-radius: 50%;"></td>
                    <td>{{paciente.codigo}}</td>
                    <td>{{paciente.papellido}} {{paciente.sapellido}}, {{paciente.nombre}}</td>
                    <td>V</td>
                    <td>21</td>
                    <td>Manuel Molero Peña <br> Alicia Marín Prado</td>
                    <td>Mapfre</td>
                    <!-- ESTAS ACCIONES DEBERÍAN APARECER DENTRO DE VER PACIENTE MEJOR
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-success btn-sm mx-1">Historial</a>
                            <a class="btn btn-info btn-sm mx-1">Percentiles</a>
                            <a class="btn btn-dark btn-sm mx-1">Alergias</a>
                            <a class="btn btn-secondary btn-sm mx-1">E. Crónicas</a>
                        </div>
                    </td>
                -->
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary btn-sm mx-1">Ver detalles</a>
                            <a class="btn btn-warning btn-sm mx-1" routerLink="/pacientes/editar/{{paciente.id}}">Modificar</a>
                            <a class="btn btn-danger btn-sm mx-1" (click)="eliminarPaciente(paciente.id)">Eliminar</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <button class="btn btn-primary" (click)="goToFirstPage()"><<</button>&nbsp;
            <button class="btn btn-primary" (click)="prevPage()"><</button>&nbsp;
          
            <select style="text-align: center;" [(ngModel)]="currentPage" class="form-control" (change)="currentPage !== null ? goToPage(currentPage) : null">
              <option *ngFor="let page of pages" [value]="page" [selected]="page === currentPage">{{ page + 1 }}</option>
            </select>&nbsp;
          
            <button class="btn btn-primary" (click)="nextPage()">></button>&nbsp;
            <button class="btn btn-primary" (click)="goToLastPage()">>></button>
          </div>
    </div>
</div>
<!--<div style="display: flex; flex-wrap: wrap; gap: 10px;">
    <div *ngFor="let paciente of pacientesData" class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{paciente.papellido}} {{paciente.sapellido}}, {{paciente.nombre}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>-->
  