<div class="container-fluid full-height-container d-flex flex-column justify-content-center align-items-center">
  <h1 class="titulo mb-4 text-center">Vista de las pruebas</h1>

  <div class="table-responsive">
      <table class="table table-hover table-bordered">
          <thead>
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Acciones</th>
              </tr>
          </thead>
          <tbody class="table-group-divider">
              <tr *ngFor="let prueba of pruebasData">
                  <td>{{prueba.id}}</td>
                  <td>{{prueba.nombre}}</td>
                  <td>{{prueba.descripcion}}</td>
                  <td>
                      <div class="d-flex justify-content-center">
                          <a class="btn btn-primary btn-sm mx-1">Ver detalles</a>
                          <a class="btn btn-warning btn-sm mx-1">Modificar</a>
                          <a class="btn btn-danger btn-sm mx-1">Eliminar</a>
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="pagination">
        <button class="btn btn-primary" (click)="goToFirstPage()"><<</button>&nbsp;
        <button class="btn btn-primary" (click)="prevPage()"><</button>&nbsp;
      
        <select style="text-align: center;" [(ngModel)]="currentPage" class="form-control" (change)="currentPage !== null ? goToPage(currentPage) : null">
          <option *ngFor="let page of pages" [value]="page" [selected]="page === currentPage">{{ page + 1 }}</option>
        </select>&nbsp;
      
        <button class="btn btn-primary" (click)="nextPage()">></button>&nbsp;
        <button class="btn btn-primary" (click)="goToLastPage()">>></button>
      </div>
  </div>
</div>