<div class="container-fluid full-height-container d-flex flex-column justify-content-center align-items-center">
  <h1 class="titulo mb-4 text-center">Vista de los progenitores</h1>

  <div class="table-responsive">
      <table class="table table-hover table-bordered">
          <thead>
              <tr>
                  <th scope="col">Foto</th>
                  <th scope="col">DNI</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Paciente</th>
                  <th scope="col">Acciones</th>
              </tr>
          </thead>
          <tbody class="table-group-divider">
              <tr *ngFor="let progenitor of progenitoresData">
                  <td><img src="https://mdbootstrap.com/img/new/avatars/8.jpg" style="width: 70px; border-radius: 50%;"></td>
                  <td>{{progenitor.dni}}</td>
                  <td>{{progenitor.papellido}} {{progenitor.sapellido}}, {{progenitor.nombre}}</td>
                  <td>{{progenitor.rol}}</td>
                  <td>{{progenitor.paciente_id}}</td>
                  <td>
                      <div class="d-flex justify-content-center">
                          <a class="btn btn-primary btn-sm mx-1">Ver detalles</a>
                          <a class="btn btn-warning btn-sm mx-1">Modificar</a>
                          <a class="btn btn-danger btn-sm mx-1">Eliminar</a>
                      </div>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>