<div class="container-fluid full-height-container d-flex flex-column justify-content-center align-items-center"
    style="margin-top: 1%;">

    <!-- Barra de búsqueda y botón "Añadir paciente" -->
    <div class="col-md-8">
        <div class="d-flex align-items-center mb-3">
            <button type="button" class="btn btn-outline-secondary me-4" routerLink="/medicaciones/nuevo"
                style="white-space: nowrap; margin-left: 4.5%;">Añadir medicación</button>

            <div class="input-group" style="margin-right: -13.8%;">
                <input type="text" class="form-control" placeholder="Buscar medicación"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
            </div>
        </div>
    </div>

    <!-- Tarjetas de pacientes -->
    <div class="container" style="margin-left: 19%;">
        <div class="row row-cards">
            <div *ngFor="let medicacion of medicacionData" class="col-md-2">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top card-img-square"
                        src="../../../../assets/imgMedicaciones/medicacion{{medicacion.id}}.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{medicacion.nombre}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                    (click)="openModal(staticDetalles)">Ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                    routerLink="/medicaciones/editar/{{medicacion.id}}">Editar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                    (click)="eliminarMedicacion(medicacion.id)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <ng-template #staticDetalles let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title">Detalles de "{{medicacion.nombre}}"</h5>
                    </div>
                    <div class="modal-body">
                        <p>
                            Un medicamento es una sustancia química utilizada para diagnosticar, prevenir, tratar o
                            aliviar los síntomas de una enfermedad o condición médica. Los medicamentos pueden tener
                            diferentes formas, como comprimidos, cápsulas, líquidos, cremas o inyecciones, y pueden
                            administrarse de diversas maneras, como por vía oral, intravenosa, tópica, entre otras.

                            Los medicamentos pueden actuar de varias maneras en el cuerpo, como:
                        <ol>
                            <li>Alivio de síntomas: Muchos medicamentos están diseñados para aliviar los síntomas de una
                                enfermedad o condición, como el dolor, la fiebre, la inflamación o la congestión.</li>

                            <li>Tratamiento de la causa: Algunos medicamentos están dirigidos a tratar la causa
                                subyacente de una enfermedad, como los antibióticos que combaten las infecciones
                                bacterianas.</li>

                            <li>Problemas de visión: La fatiga visual, la presión ocular y otros problemas visuales
                                pueden desencadenar dolores de cabeza.</li>

                            <li>Estrés: El estrés emocional o físico puede desencadenar dolores de cabeza.</li>

                            <li>Desencadenantes alimentarios: Algunas personas experimentan dolores de cabeza debido a
                                ciertos alimentos o aditivos alimentarios.</li>

                            <li>Cambios hormonales: Especialmente en mujeres, las fluctuaciones hormonales, como las que
                                ocurren durante el ciclo menstrual, el embarazo o la menopausia, pueden desencadenar
                                dolores de cabeza.</li>

                            <li>Consumo de cafeína: Tanto la falta de cafeína en personas acostumbradas como el exceso
                                de consumo pueden causar dolores de cabeza.</li>

                            <li>Cambios en el clima: Algunas personas son sensibles a los cambios de clima y pueden
                                experimentar dolores de cabeza debido a estas variaciones.</li>

                            <li>Sinusitis: La inflamación de los senos paranasales puede causar dolor facial y de
                                cabeza.</li>

                            <li>Problemas de sueño: La falta de sueño o patrones de sueño irregulares pueden contribuir
                                a dolores de cabeza.</li>

                            <li>Consumo de alcohol: El exceso de alcohol o la resaca pueden causar dolores de cabeza.
                            </li>
                        </ol>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary"
                            (click)="modal.dismiss()">Cerrar</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <!-- Paginación -->
    <div class="pagination">
        <button class="btn btn-outline-secondary" (click)="goToFirstPage()"><<</button>&nbsp;
        <button class="btn btn-outline-secondary" (click)="prevPage()"><</button>&nbsp;

        <select style="text-align: center;" [(ngModel)]="currentPage" class="form-control" (change)="currentPage !== null ? goToPage(currentPage) : null">
          <option *ngFor="let page of pages" [value]="page" [selected]="page === currentPage">{{ page + 1 }}</option>
        </select>&nbsp;

        <button class="btn btn-outline-secondary" (click)="nextPage()">></button>&nbsp;
        <button class="btn btn-outline-secondary" (click)="goToLastPage()">>></button>
    </div>
</div>