<div class="container-fluid full-height-container d-flex flex-column justify-content-center align-items-center">
    <h1 class="titulo mb-4 text-center">Vista de los pacientes</h1>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Progenitores</th>
                    <th scope="col">S. Médico</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td><img src="https://mdbootstrap.com/img/new/avatars/8.jpg" style="width: 70px; border-radius: 50%;"></td>
                    <td>|ML-MR|</td>
                    <td>Molero Marín, Pablo</td>
                    <td>V</td>
                    <td>21</td>
                    <td>Manuel Molero Peña <br> Alicia Marín Prado</td>
                    <td>Mapfre</td>
                    <!-- ESTAS ACCIONES DEBERÍAN APARECER DENTRO DE VER PACIENTE MEJOR
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-success btn-sm mx-1">Historial</a>
                            <a class="btn btn-info btn-sm mx-1">Percentiles</a>
                            <a class="btn btn-dark btn-sm mx-1">Alergias</a>
                            <a class="btn btn-secondary btn-sm mx-1">E. Crónicas</a>
                        </div>
                    </td>
                    -->
                    <td>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary btn-sm mx-1">Ver detalles</a>
                            <a class="btn btn-warning btn-sm mx-1">Modificar</a>
                            <a class="btn btn-danger btn-sm mx-1">Eliminar</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>