/* You can add global styles to this file, and also import other style files */
/* import 5.3.2 bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";

.full-height-container {
    background-color: rgb(245, 102, 102);
    height: 100vh;
  }

  .titulo {
    color: white;
  }

  #contenido {
    /*align items at center*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }